<?xml version='1.0' encoding='ISO-8859-1'?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:p="http://primefaces.org/ui">
      
	<ui:composition>
			
		<h:form id="formDig">
		
			<h:inputHidden value="#{mbVendedor.vendedor.id}"/>
			
			<p:growl id="growl2" showDetail="false"/>
				
			<h:panelGrid columns="2">
				<h:outputText value="Id(*):" />
				<h:outputText id="id" value="#{mbVendedor.vendedor.id}"/>
				
				<h:outputText value="Nome(*):" />
				<h:outputText id="nome" value="#{mbVendedor.vendedor.nome}" maxlength="50" size="50" required="true"/>

	            <h:outputLabel value="Arquivo: "/>
				<h:outputText id="nomeArquivo" value="#{mbVendedor.vendedor.arquivo}"/>
								
			</h:panelGrid>

			<p:fileUpload fileUploadListener="#{mbVendedor.handleFileUpload}"  
            		update="growl2 nomeArquivo" mode="advanced" sizeLimit="10000000" allowTypes="/(\.|\/)(gif|jpe?g|png)$/">
            </p:fileUpload>

			<p:commandButton action="#{mbVendedor.salvar}" value="Salvar" ajax="false"/>
			<p:commandButton action="#{mbVendedor.cancelar}" value="Cancelar"  immediate="true"/>

			<h:inputHidden value="#{mbVendedor.vendedor.inclusao}">
				<f:convertDateTime pattern="dd/MM/yyyy"/>
			</h:inputHidden>

			<h:inputHidden value="#{mbVendedor.vendedor.alteracao}">
				<f:convertDateTime pattern="dd/MM/yyyy"/>
			</h:inputHidden>

		</h:form>
		
	</ui:composition>	
</html>