<?xml version='1.0' encoding='ISO-8859-1'?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:p="http://primefaces.org/ui">
      
	<ui:composition>
			
		<h:form id="formDig">
		
			<h:panelGrid columns="2">
				<h:outputText value="Id(*):" />
				<h:outputText id="id" value="#{mbAviso.aviso.id}" maxlength="10" size="8" required="true"/>

				<h:outputText value="Texto(*):" />
				<h:panelGroup>
				<p:inputTextarea value="#{mbAviso.aviso.aviso}" required="true" cols="100" rows="7" autoResize="false"/>
				</h:panelGroup>
				
				<h:outputText value="Ativo:"/>
				<p:selectBooleanCheckbox id="ativo" value="#{mbAviso.aviso.ativo}"/>
				
				<p:commandButton action="#{mbAviso.salvar}" value="Salvar" ajax="false"/>
				<p:commandButton action="#{mbAviso.cancelar}" value="Cancelar"  immediate="true"/>
				
				<h:inputHidden value="#{mbAviso.aviso.inclusao}">
					<f:convertDateTime pattern="dd/MM/yyyy"/>
				</h:inputHidden>

				<h:inputHidden value="#{mbAviso.aviso.alteracao}">
					<f:convertDateTime pattern="dd/MM/yyyy"/>
				</h:inputHidden>
				
			</h:panelGrid>

		</h:form>
		
	</ui:composition>	
</html>