<?xml version='1.0' encoding='ISO-8859-1'?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:p="http://primefaces.org/ui">
      
	<ui:composition>
			
		<h:form id="formDig">
		
			<h:panelGrid columns="2">
				<h:outputText value="Id(*):" />
				<h:outputText id="id" value="#{mbEmpresa.empresa.id}" maxlength="10" size="8" required="true"/>
				
				<h:outputText value="Nome(*):" />
				<h:panelGroup>
				<p:inputText id="nome" value="#{mbEmpresa.empresa.nome}" maxlength="50" size="50" required="true"/>
				<p:message for="nome"/>
				</h:panelGroup>

				<h:outputText value="URL(*):" />
				<h:panelGroup>
				<p:inputText id="url" value="#{mbEmpresa.empresa.url}" maxlength="50" size="50" required="true"/>
				<p:message for="url"/>
				</h:panelGroup>
				
				<h:outputText value="Impostos (%):"/>
				<h:panelGroup>
					<p:inputText id="vlImpostos" value="#{mbEmpresa.empresa.impostos}" required="true" size="15" maxlength="14" label="Impostos">
						<f:convertNumber type="currency" locale="pt_BR" pattern="#,###,##0.00"/>
						<f:ajax event="blur" render="msgvlImpostos"/>
					</p:inputText>
					<p:message id="msgvlImpostos" for="vlImpostos"/>
				</h:panelGroup>

				<h:outputText value="Custo por ficha (Valor):"/>
				<h:panelGroup>
					<p:inputText id="custoFicha" value="#{mbEmpresa.empresa.custoFicha}" size="15" required="true" maxlength="14" label="Custo por ficha (Valor)">
						<f:convertNumber type="currency" locale="pt_BR" pattern="#,###,##0.00"/>
						<f:ajax event="blur" render="msgcustoFicha"/>
					</p:inputText>
					<p:message id="msgcustoFicha" for="custoFicha"/>
				</h:panelGroup>

				<h:outputText value="Custo por ficha (%):"/>
				<h:panelGroup>
					<p:inputText id="custoFichaPerc" value="#{mbEmpresa.empresa.custoFichaPerc}" required="true" size="15" maxlength="14" label="Custo por ficha (%)">
						<f:convertNumber type="currency" locale="pt_BR" pattern="#0.00"/>
						<f:ajax event="blur" render="msgcustoFichaPerc"/>
					</p:inputText>
					<p:message id="msgcustoFichaPerc" for="custoFichaPerc"/>
				</h:panelGroup>

				<h:outputText value="Texto 1:" />
				<p:inputText value="#{mbEmpresa.empresa.indexMsgTxt1}" size="100"/>

				<h:outputText value="Texto 2:" />
				<p:inputText value="#{mbEmpresa.empresa.indexMsgTxt2}" size="100"/>

				<h:outputText value="Texto 3:" />
				<p:inputText value="#{mbEmpresa.empresa.indexMsgTxt3}" size="100"/>

				<h:outputText value="Texto 4:" />
				<p:inputText value="#{mbEmpresa.empresa.indexMsgTxt4}" size="100"/>

				<h:outputText value="Texto 5:" />
				<p:inputText value="#{mbEmpresa.empresa.indexMsgTxt5}" size="100"/>

				<h:outputText value="Texto 6:" />
				<p:inputText value="#{mbEmpresa.empresa.indexMsgTxt6}" size="100"/>

				<h:outputText value="Texto do menu lateral 1:" />
				<p:inputText value="#{mbEmpresa.empresa.menuDadosTxt1}" size="100"/>

				<h:outputText value="Texto do menu lateral 2:" />
				<p:inputText value="#{mbEmpresa.empresa.menuDadosTxt2}" size="100"/>

				<h:outputText value="Texto do menu lateral 3:" />
				<p:inputText value="#{mbEmpresa.empresa.menuDadosTxt3}" size="100"/>

				<h:outputText value="Texto do menu lateral 4:" />
				<p:inputText value="#{mbEmpresa.empresa.menuDadosTxt4}" size="100"/>

				<h:outputText value="Texto do menu lateral 5:" />
				<p:inputText value="#{mbEmpresa.empresa.menuDadosTxt5}" size="100"/>

				<h:outputText value="Texto do menu lateral 6:" />
				<p:inputText value="#{mbEmpresa.empresa.menuDadosTxt6}" size="100"/>

				<h:outputText value="Site (URL):" />
				<p:inputText value="#{mbEmpresa.empresa.relatorioUrl}" size="100"/>

				<h:outputText value="E-mail:" />
				<p:inputText value="#{mbEmpresa.empresa.relatorioEmail}" size="100"/>

				<h:outputText value="Fone 1 do relatório:" />
				<p:inputText value="#{mbEmpresa.empresa.relatorioFone1}" size="30"/>
			
				<h:outputText value="Fone 2 do relatório:" />
				<p:inputText value="#{mbEmpresa.empresa.relatorioFone2}" size="30"/>
				
				<h:outputText value="Tema(*):" />
		        <p:themeSwitcher value="#{mbEmpresa.empresa.tema}" style="width:165px" effect="fade" id="statefulSwitcher" required="true" label="Tema">  
		            <f:selectItem itemLabel="Selecione um tema..." itemValue="" />  
		            <f:selectItems value="#{mbEmpresa.themes}" />  
		        </p:themeSwitcher> 
				
				<h:outputText value="Ativo:"/>
				<p:selectBooleanCheckbox id="ativo" value="#{mbEmpresa.empresa.ativo}"/>
				
				<h:outputText value="Imagem:"/>
				<p:fileUpload fileUploadListener="#{mbEmpresa.handleFileUpload}" update="imgEmpresa" mode="advanced" sizeLimit="10000000" allowTypes="/(\.|\/)(png)$/"/>
            	
            	<h:outputText value=""/>
            	<p:graphicImage id="imgEmpresa" value="#{mbEmpresa.imgEmpresa}" width="335" height="140"/>
            	
				<p:commandButton action="#{mbEmpresa.salvar}" value="Salvar" ajax="false"/>
				<p:commandButton action="#{mbEmpresa.cancelar}" value="Cancelar"  immediate="true"/>
				
				<h:inputHidden value="#{mbEmpresa.empresa.inclusao}">
					<f:convertDateTime pattern="dd/MM/yyyy"/>
				</h:inputHidden>

				<h:inputHidden value="#{mbEmpresa.empresa.alteracao}">
					<f:convertDateTime pattern="dd/MM/yyyy"/>
				</h:inputHidden>
				
			</h:panelGrid>

		</h:form>
		
	</ui:composition>	
</html>