<?xml version='1.0' encoding='ISO-8859-1'?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:p="http://primefaces.org/ui">
      
	<ui:composition>

		<h:form id="formDig">

			<h:commandLink action="#{mbPrincipal.abrirTelaCrud}" value="#{mbGrupo.grupo.grupo}" >
	        	<f:param name="titulo" value="Cadastro de grupo"/>
	        	<f:param name="pagina1" value="/sistema/ferramenta/grupoConsultar.xhtml"/>
	        	<f:param name="pagina2" value="/sistema/ferramenta/grupoDigitar.xhtml"/>
	        	<f:param name="aba" value="PaginaDigitar"/>
			</h:commandLink>
			<br/>

			<h:inputHidden value="#{mbGrupo.permissao.id}"/>
			
			<h:panelGrid columns="2">
				<h:outputText value="tela(*):" />
				<h:panelGroup>
					<h:selectOneMenu value="#{mbGrupo.permissao.modulo}" id="cmbModulo" required="true" converter="convListagem">
						<f:selectItems value="#{mbGrupo.moduloLista}"/>
					</h:selectOneMenu>
					<p:message for="cmbModulo"/>
				</h:panelGroup>
				
				<h:outputText value="Incluir:" />
				<p:selectBooleanCheckbox value="#{mbGrupo.permissao.incluir}" />

				<h:outputText value="Alterar:" />
				<p:selectBooleanCheckbox value="#{mbGrupo.permissao.alterar}" />

				<h:outputText value="Remover:" />
				<p:selectBooleanCheckbox value="#{mbGrupo.permissao.remover}" />
				
				<p:commandButton action="#{mbGrupo.salvarItem}" value="Salvar" />
				<p:commandButton action="#{mbGrupo.cancelarItem}" value="Cancelar"  immediate="true"/>
			</h:panelGrid>

			<h:inputHidden value="#{mbGrupo.permissao.inclusao}">
				<f:convertDateTime pattern="dd/MM/yyyy"/>
			</h:inputHidden>

			<h:inputHidden value="#{mbGrupo.permissao.alteracao}">
				<f:convertDateTime pattern="dd/MM/yyyy"/>
			</h:inputHidden>

		</h:form>

	</ui:composition>	
</html>