<?xml version='1.0' encoding='ISO-8859-1'?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:p="http://primefaces.org/ui">
      
	<ui:composition template="/sistema/templatesistema.xhtml">
		<ui:define name="conteudo" id="conteudo">
			<p:panel header="Trocar senha">			

			<h:form id="formDig">	
				<h:inputHidden value="#{mbUsuario.usuario.id}"/>
				
				<p:growl id="growl2" showDetail="false"/>
				
				<p:panel header="Trocar senha">
				
					<h:panelGrid columns="2">
						<h:outputText value="Id:" />
						<h:outputText id="id" value="#{mbUsuario.usuarioTrocarSenha.id}"/>
						
						<h:outputText value="Login:" />
						<h:panelGroup>
						<h:outputText id="login" value="#{mbUsuario.usuarioTrocarSenha.login}"/>
						</h:panelGroup>
		
						<h:outputText value="Senha(*):" />
						<h:panelGroup>
						<p:password id="senha" value="#{mbUsuario.usuarioTrocarSenha.senha}" match="senha2" size="15" maxlength="10" required="true"/>
						<p:message for="senha"/>
						</h:panelGroup>
		
						<h:outputText value="Confirmação(*):" />
						<h:panelGroup>
						<p:password id="senha2" value="#{mbUsuario.usuarioTrocarSenha.senha}" size="15" maxlength="10" required="true"/>
						<p:message for="senha2"/>
						</h:panelGroup>
						
						<p:commandButton actionListener="#{mbUsuario.trocarSenha}" value="Salvar" update="growl2"/>
						<p:commandButton action="#{mbUsuario.cancelarTroca}" value="Cancelar" immediate="true" ajax="false"/>
					</h:panelGrid>
				</p:panel>	
			</h:form>
		</p:panel>
		</ui:define>
	</ui:composition>	
</html>