<?xml version='1.0' encoding='ISO-8859-1'?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:p="http://primefaces.org/ui">
      
	<ui:composition>
			
		<h:form id="formDig">
		
			<h:inputHidden value="#{mbUsuario.usuario.id}"/>
				
			<h:panelGrid columns="2">
				<h:outputText value="Id(*):" />
				<h:outputText id="id" value="#{mbUsuario.usuario.id}"/>
				
				<h:outputText value="Nome(*):" />
				<h:panelGroup>
				<p:inputText id="nome" value="#{mbUsuario.usuario.nome}"  size="50" required="true" label="Nome"/>
				<p:message for="nome"/>
				</h:panelGroup>

				<h:outputText value="Login(*):" />
				<h:panelGroup>
				<p:inputText id="login" value="#{mbUsuario.usuario.login}"  size="50" required="true" label="Login"/>
				<p:message for="login"/>
				</h:panelGroup>

				<h:outputText value="Telefone 1:" />
				<p:inputMask id="telefone1" value="#{mbUsuario.usuario.telefone1}" mask="(99)9999-9999"/>

				<h:outputText value="Telefone 2:" />
				<p:inputMask id="telefone2" value="#{mbUsuario.usuario.telefone2}" mask="(99)9999-9999"/>

				<h:outputText value="Senha(*):" />
				<h:panelGroup>
				<p:password id="senha" value="#{mbUsuario.usuario.senha}" match="senha2" size="15" maxlength="10" required="true" label="Senha"/>
				<p:message for="senha"/>
				</h:panelGroup>

				<h:outputText value="Confirmação(*):" />
				<h:panelGroup>
				<p:password id="senha2" value="#{mbUsuario.usuario.senha}" size="15" maxlength="10" required="true" label="Confirmação"/>
				<p:message for="senha2"/>
				</h:panelGroup>

				<h:outputText value="Empresa:" rendered="#{mbPrincipal.usuario.admin == true and mbPrincipal.empresa.id == 0}"/>
				<h:panelGroup rendered="#{mbPrincipal.usuario.admin == true and mbPrincipal.empresa.id == 0}">
					<p:selectOneMenu id="cmbEmpPor" value="#{mbUsuario.usuario.empresaPortal}" converter="convListagem">
						<f:selectItems value="#{mbPrincipal.empresaLista}"/>
						<f:ajax event="change"/>
					</p:selectOneMenu>
				</h:panelGroup>

				<h:outputText value="Loja(*):"/>
				<h:panelGroup>
					<p:selectOneMenu id="cmbVen" value="#{mbUsuario.usuario.vendedor}" converter="convListagem" required="true" label="Loja">
						<f:selectItems value="#{mbUsuario.vendedorLista}"/>
					</p:selectOneMenu>
					<p:message for="cmbVen"/>
				</h:panelGroup>

				<h:outputText value="Grupo:"/>
				<h:panelGroup>
					<p:selectOneMenu id="cmbGru" value="#{mbUsuario.usuario.grupo}" converter="convListagem">
						<f:selectItems value="#{mbUsuario.grupoLista}"/>
					</p:selectOneMenu>
					<p:message for="cmbGru"/>
				</h:panelGroup>

				<h:outputText value="Administrador:" rendered="#{mbPrincipal.usuario.admin}"/>
				<p:selectBooleanCheckbox id="admin" value="#{mbUsuario.usuario.admin}" rendered="#{mbPrincipal.usuario.admin}"/>
				
				<p:commandButton action="#{mbUsuario.salvar}" value="Salvar" />
				<p:commandButton action="#{mbUsuario.cancelar}" value="Cancelar" ajax="false" immediate="true"/>
			</h:panelGrid>

			<h:inputHidden value="#{mbUsuario.usuario.inclusao}">
				<f:convertDateTime pattern="dd/MM/yyyy"/>
			</h:inputHidden>

			<h:inputHidden value="#{mbUsuario.usuario.alteracao}">
				<f:convertDateTime pattern="dd/MM/yyyy"/>
			</h:inputHidden>

		</h:form>

	</ui:composition>	
</html>