<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

	<ui:composition template="templatesistema.xhtml">
		<ui:define name="conteudo">
			<h:form id="frmHome">
				
				<p:spacer height="25%"/>
				<center>
					<h:graphicImage value="#{mbPrincipal.logoEmp}" width="523" height="176"/>
				</center>
				<p:spacer height="5%"/>
				
				<font style="font-family: arial;font-size: 18px;">
					<b>
					<f:verbatim escape="true">
						<p>Porto Seguro Financiamentos</p>
						 <ul>
							<li>#{mbPrincipal.empresa.indexMsgTxt1}</li>
							<li>#{mbPrincipal.empresa.indexMsgTxt2}</li>
							<li>#{mbPrincipal.empresa.indexMsgTxt3}</li>
							<li>#{mbPrincipal.empresa.indexMsgTxt4}</li>
							<li>#{mbPrincipal.empresa.indexMsgTxt5}</li>
							<li>#{mbPrincipal.empresa.indexMsgTxt6}</li>
						</ul>
					</f:verbatim>
					</b>
				</font>
				
			</h:form>
	        <script type="text/javascript">
	            $("#frmHome").ready(
	            	function () {
	            		if('#{mbPrincipal.possuiAvisos}'=='true'){
			            	alert("#{mbPrincipal.msgAviso}");
	            		}
	            	}
	            );
	        </script>
		</ui:define>
	</ui:composition>
	
</html>