<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:p="http://primefaces.org/ui">
      
	<ui:composition template="templatesistema.xhtml">
		<ui:define name="conteudo">
			<p:panel header="#{mbPrincipal.titulo}">
				<ui:include src="#{mbPrincipal.paginaAtiva}" />
			</p:panel>
		</ui:define>
	</ui:composition>	
</html>